html{
    height: 100%;
    margin: auto;
}

body{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkolivegreen;
}

#container{
    height: 500px;
    width: 400px;
    border: 1px;
    border-style: solid;
    border-color: black;
}

#display{
    height: 80px;
    width: 370px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px 15px;
}

#buttonContainer{
    height: 400px;
    width: 400px;
    background-color: royalblue;
}