body{
    background-color:darkolivegreen;
}

#container{
    height: 500px;
    width: 400px;
    border: 1px;
    border-style: solid;
    border-color: black;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#display{
    height: 80px;
    width: 360px;
    border: 1px;
    border-style: solid;
    border-color: black;
}