html{
    height: 100%;
    margin: auto;
}

body{
    height: 100%;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:darkolivegreen;
}

#container{
    height: 512px;
    width: 385x;
    border: 1px;
    border-style: solid;
    border-color: black;
}

#display{
    height: 80px;
    width: 360px;
    border: 1px;
    border-style: solid;
    border-color: black;
    margin: 10px 13px;
}

#buttonContainer{
    height: 400px;
    width: 360px;
    margin: 0 auto;
    background-color: royalblue;
    display: flex;
    flex-wrap: wrap;
}

button{
    height: 80px;
    width: 90px;
}
/*
.solution{
    height: 160px;
    position: absolute;
}
*/